* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: none;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: antiquewhite;
}

nav {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    padding: 0 24px;
}

nav h1 a {
    color: aliceblue;
    font-size: 24px;
}

nav h1 i {
    color: orange;
}

nav .menu {
    display: flex;
}

nav .menu li {
    margin: 12px;
    padding: 8px;
    border-radius: 8px;
    transition: 300ms all ease-in;
}

nav .menu li:hover {
    opacity: 0.85;
    background-color: rgb(166, 95, 233);
}

nav .link {
    display: flex;
}

nav .link li {
    margin: 4px;
    padding: 4px;
    border-radius: 8px;
    transition: 300ms all ease-in;
}

nav .link li:hover {
    transform: scale(1.2);
    opacity: 0.85;
    background-color: rgb(166, 95, 233);
}

.hamberger {
    display: none;
    position: absolute;
    cursor: pointer;
    color: aliceblue;
    font-size: 22px;
    top: 12px;
    right: 16px;
    background: none;
    border: none;
    transition: 300ms all ease-in;
}

.hamberger:hover {
    transform: scale(1.2);
}


@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 0;
    }

    nav h1 {
        padding-top: 8px;
    }

    nav .menu, nav .link {
        display: none;
    }

    nav .menu {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    nav .link {
        padding-bottom: 8px;
    }

    .hamberger {
        display: block;
    }

    .menu.active,
    .link.active {
        display: flex;
    }

}